@{
    ViewBag.Title = "Contact";
}
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<br />
<h3>@ViewBag.Message</h3>

<address>
    Broken Dreams Blvd<br />
    Lonely Road, IN 01134<br />
    <abbr title="Phone">P:</abbr>
    765-660-1349
</address>

<address>
    <strong>Email Support:</strong>   <a href="mailto:kevinmoore.tech@gmail.com">kevinmoore.tech@gmail.com</a><br />
</address>